<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.asgard.nightly-backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/mimir/Developer/Asgard/scripts/nightly-backup.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/mimir/Developer/Asgard</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key><integer>3</integer>
        <key>Minute</key><integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/mimir/Developer/Asgard/logs/nightly-backup-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/mimir/Developer/Asgard/logs/nightly-backup-stderr.log</string>
</dict>
</plist>
